.card-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 40%;
    height: 200px;
    margin: 10px;
    overflow: hidden;
    padding: 10px 20px 10px 20px;
    border-radius: 13px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
}

.left{
    flex-direction: column;
    width: 70%;
}

.right{
    flex-direction: column;
    width: 30%;
}

.left div, .right div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
    color: rgb(78, 78, 78);
    margin: 5px 0px 5px 0px;
}

.title{
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px;
    color: rgb(0, 0, 0);
}

.album{
    font-size: 1.1rem;
    font-weight: bold;
}