.meta-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meta-title{
    display: flex;
    text-align: center;
    max-width: 300px;
    max-height: 100px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0px 10px 0px;
    backdrop-filter: blur(10px);
}

.cards-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    height: 100%;
    padding: 10px;
    overflow: hidden;
}